.jimu-widget-suitability-modeler-setting h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "Avenir Medium";
}
.jimu-widget-suitability-modeler-setting .section {
  margin-bottom: 30px;
}
.jimu-widget-suitability-modeler-setting .row {
  margin-bottom: 18px;
}
.jimu-widget-suitability-modeler-setting .description {
  font-size: 14px;
  margin-bottom: 20px;
}
.jimu-widget-suitability-modeler-setting .starting-state .option {
  display: inline-block;
  margin-bottom: 10px;
}
.jimu-widget-suitability-modeler-setting .starting-state .option > input {
  margin-right: 6px;
}
.jimu-rtl .jimu-widget-suitability-modeler-setting .starting-state .option > input {
  margin-left: 6px;
  margin-right: 0;
}
.jimu-widget-suitability-modeler-setting .row {
  margin-top: 20px;
  font-size: 14px;
}
.jimu-widget-suitability-modeler-setting .dijitTextBox.url-box {
  width: 785px;
  height: 35px;
  margin-right: 5px;
}
.jimu-rtl .jimu-widget-suitability-modeler-setting .dijitTextBox.url-box {
  margin-left: 5px;
  margin-right: 0;
}
.jimu-widget-suitability-modeler-setting .dijitTextBox .dijitInputField {
  padding-top: 4px;
  padding-bottom: 3px;
}
.jimu-widget-suitability-modeler-setting .dijitTextBox .dijitInputInner {
  text-overflow: ellipsis;
}
.jimu-widget-suitability-modeler-setting .example {
  margin-top: 10px;
  color: #666;
  font-size: 11px;
  font-style: italic;
  line-height: 15px;
}
.jimu-widget-suitability-modeler-setting .popup-button-bar {
  float: right;
  padding-top: 20px;
}
.jimu-rtl .jimu-widget-suitability-modeler-setting .popup-button-bar {
  float: left;
}
.jimu-widget-suitability-modeler-setting .popup-button-bar .btn-ok {
  margin-right: 16px;
}
.jimu-widget-suitability-modeler-setting-help-link {
  line-height: 30px;
}
.jimu-widget-suitability-modeler-setting .dijitRadio {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #999;
  position: relative;
  overflow: visible;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 6px;
}
.jimu-rtl .jimu-widget-suitability-modeler-setting .dijitRadio {
  margin-left: 6px;
  margin-right: 0;
}
.jimu-widget-suitability-modeler-setting .dijitRadio:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  margin: 7px;
  position: absolute;
  top: 0;
  left: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
}
.jimu-widget-suitability-modeler-setting .dijitRadioChecked {
  border-width: 2px;
  border-color: #24b5cc;
}
.jimu-widget-suitability-modeler-setting .dijitRadioChecked:after {
  background-color: #24b5cc;
  width: 8px;
  height: 8px;
  margin: 2px;
  opacity: 1;
}
.jimu-widget-suitability-modeler-setting .dijitCheckBox {
  background: #fff;
  border: 1px solid #999;
  text-align: center;
  position: relative;
  margin-right: 6px;
}
.jimu-rtl .jimu-widget-suitability-modeler-setting .dijitCheckBox {
  margin-left: 6px;
  margin-right: 0;
}
.jimu-widget-suitability-modeler-setting .dijitCheckBox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
}
.jimu-widget-suitability-modeler-setting .dijitCheckBox {
  width: 16px;
  height: 16px;
  position: relative;
  font-family: "CalciteWebCoreIcons";
  speak: none;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-indent: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 14px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.jimu-widget-suitability-modeler-setting .dijitCheckBoxChecked {
  background-color: #24b5cc;
  border-color: #24b5cc;
  color: #fff;
}
.jimu-widget-suitability-modeler-setting .dijitCheckBoxChecked:before {
  content: "\e605";
}
