.jimu-widget-map-filter input{
  	margin-left: 10px;
}

.jimu-widget-map-filter .group-block {
	background-color: #FFFFFF;
	border-color: #e1e1e1;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	width: 100%;
	text-align: left;
	position: relative;
	margin-top: 10px;
}

.jimu-widget-map-filter .layer-Mapping-Block-add {
	margin-top: 10px;
	margin-bottom: 5px;
}

.jimu-widget-map-filter .group-setting-table {
	width: 100%;
	margin-left: 10px;
}

.jimu-widget-map-filter .group-block-item {
	position: relative;
	width: 90%;
}

.jimu-widget-map-filter .group-block-delete{
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	cursor: hand;
    content: url("../../images/delete.png");
}

.jimu-widget-map-filter .group-block-delete:after{
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	cursor: hand;
    content: url("../../images/delete.png");
}

.jimu-widget-map-filter .group-block-delete:hover{
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	cursor: hand;
    content: url("../../images/delete_hover.png");
}

.jimu-widget-map-filter .group-block-layer-select {

}

.jimu-widget-map-filter .group-block-field-select {
	position: absolute;
	right: 0px;
	top: 0px;
}

.jimu-widget-map-filter .group-block-add-layer {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.jimu-widget-map-filter .groupName-textbox {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	width: 175px;
}

.jimu-widget-map-filter .groupName-Desctextbox {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	width: 400px;
}

.jimu-widget-map-filter .groupName-Defaulttextbox {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	width: 400px;
}

.jimu-widget-map-filter .groupName-defaultPicker {
	padding-left: 10px;
	padding-right: 10px;
	content: url("../../images/find.png");
    cursor: hand;
    cursor: pointer;
}

.jimu-widget-map-filter .groupName-defaultPicker:after {
	padding-left: 10px;
	padding-right: 10px;
	content: url("../../images/find.png");
    cursor: hand;
    cursor: pointer;
}

.jimu-widget-map-filter .layer-tables {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 98%;
	margin-left: 10px;
}

.jimu-widget-map-filter .operator-select {
	font-size: 8pt;
}

.jimu-widget-map-filter .operator-append-select {
	font-size: 8pt;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.jimu-widget-map-filter-preset .picker-cell {
	padding-bottom: 15px;
}

.jimu-widget-map-filter-preset .value-level{
	margin-left: -3px;
	margin-right: -3px;
}

