<div>
    <span class='jimu-widget-subtitle'>${nls.setCoordFormat}</span>
    <div class="controlContainer">
        <select style="width:80px" name="test" data-dojo-type='dijit/form/Select' data-dojo-attach-point="frmtSelect">
            <option value="DD">${nls.DD}</option>
            <option value="DDM">${nls.DDM}</option>
            <option value="DMS">${nls.DMS}</option>
            <option value="GARS">${nls.GARS}</option>
            <option value="GEOREF">${nls.GEOREF}</option>
            <option value="MGRS">${nls.MGRS}</option>
            <option value="USNG">${nls.USNG}</option>
            <option value="UTM">${nls.UTM}</option>
            <option value="UTM (H)">${nls.UTM_H}</option>
        </select>

        <input type ="text" data-dojo-attach-point="frmtVal" class="jimu-input"></input>

        <div class='settingsContainer' data-dojo-attach-point="prefixContainer">
            <div data-dojo-attach-point='addSignChkBox'  data-dojo-type='jimu/dijit/CheckBox'>${nls.prefixNumbers}</div>
        </div>

    </div>
    <div class="btnContainer">
        <div data-dojo-attach-point="applyButton" class='jimu-btn'>${nls.applyBtn}</div>
        <div data-dojo-attach-point="cancelButton" class='jimu-btn'>${nls.cancelBtn}</div>
    </div>
</div>
