.jimu-widget-draw .dijitRuleLabelContainer .dijitRuleLabel.dijitRuleLabelH{
  color: #fff;
}

.jimu-widget-draw .text-section .symbol-set-table{
  color: #fff;
}

.jimu-widget-draw .text-section .symbol-set-table .text-input{
  background-color: transparent;
  color: #fff;
}