.solutions-widget-geolookup .widgetDescription,
.solutions-widget-geolookup .divCheckPlot {
  color: #FFF;
}

.solutions-widget-geolookup .clear-CSVresult {
  color: #FFF;
}

.solutions-widget-geolookup .results-header,
.solutions-widget-geolookup .result-text {
  color: #CCC;
}