<div class="pad-left-10">
  <table class="page-table" cellpading="0">
    <tbody>
      <tr class="task-instruction-row">
        <td colspan="2">
          <div class="instruction pad-bottom-10 bottom-border">${nls.coordinates.coordinatesPageHint}</div>
        </td>
      </tr>

      <tr class="bottom-border">
        <td class="field-control-td">
          <div class="main-text float-left" data-dojo-attach-point="lblX"></div>
        </td>
        <td class="float-right field-control-td">
          <select style="min-width: 200px" data-dojo-attach-point="selectX" data-dojo-type="dijit/form/Select"></select>
        </td>
      </tr>

      <tr class="bottom-border">
        <td class="field-control-td">
          <div class="main-text float-left" data-dojo-attach-point="lblY"></div>
        </td>
        <td class="float-right field-control-td">
          <select style="min-width: 200px;" data-dojo-attach-point="selectY" data-dojo-type="dijit/form/Select"></select>
        </td>
      </tr>

    </tbody>
  </table>
</div>