<div class="float-right">
  <table class="control-table table-layout" cellpading="0">
    <tbody>
      <tr class="feature-toolbar-row">
        <td title="${nls.featureToolbar.edit}">
          <div class="float-left bg-ft-img bg-edit feature-toolbar-btn" data-dojo-attach-event="onclick:_toggleEdit"></div>
        </td>
        <td title="${nls.featureToolbar.cancel}">
          <div class="bg-ft-img bg-cancel feature-toolbar-btn" data-dojo-attach-event="onclick:_cancel"></div>
        </td>
        <td title="${nls.featureToolbar.save}">
          <div class="float-right bg-ft-img bg-save feature-toolbar-btn" data-dojo-attach-event="onclick:_save"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>