<div class="pad-left-10">
  <table class="page-table" cellpading="0">
    <tbody>
      <tr class="bottom-border task-instruction-row">
        <td colspan="2">
          <div class="instruction pad-bottom-10" data-dojo-attach-point="pageHint"></div>
        </td>
      </tr>
      <tr>
        <td>
          <table class="page-table" cellpading="0">
            <tbody data-dojo-attach-point="featureListTable">
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>