<div style="height: 100%;">
  <div class="bottom-border" data-dojo-attach-point="schemaMapInstructions">
    <div data-dojo-attach-point="pageInstruction" class="instruction"></div>
    <div class="instruction startpage-hint">${nls.startPage.startPageHint}</div>
  </div>
  <div class="upload-tab-node" data-dojo-attach-point="uploadTabNode">
    <div class="schema-map-instructions" data-dojo-attach-point="schemaMapInstructions">
      <div class="usage-instruction">
        ${nls.startPage.dragDrop}
      </div>
      <div class="drop-or-browse">
        ${nls.startPage.or}
      </div>
      <div data-dojo-attach-point="browseContainer">
        <form class="file-form" enctype="multipart/form-data" method="post"
              data-dojo-attach-point="fileForm">
          <label for="${id}_file" class="jimu-btn"
                 data-dojo-attach-point="uploadLabel">${nls.startPage.browse}</label>
          <input id="${id}_file" name="file" type="file" class="upload-input"
                 data-dojo-attach-point="fileNode" />
        </form>
      </div>
    </div>
    <div class="warning-instruction" data-dojo-attach-point="loadWarning">
      <span>${nls.warningsAndErrors.loadWarning}</span>
    </div>
  </div>
  <div class="credit-warning-container">
    <a class="credit-warning" href="http://www.esri.com/software/arcgis/arcgisonline/credits">${nls.warningsAndErrors.consumesCredits}</a>
  </div>
</div>