<div style="height: 100%;">
  <div class="control-node" data-dojo-attach-point="controlNode">
    <table data-dojo-attach-point="controlTable" class="control-table" cellpading="0">
      <tbody>
        <tr data-dojo-attach-point="controlTr" style="line-height:20px;">
          <!--BACK-->
          <td nowrap class="page-item-td-left" data-dojo-attach-point="backTd" data-dojo-attach-event="onclick:_prevView">
            <div class="float-left bg-img bg-back-img margin-right-5" data-dojo-attach-point="backImage"></div>
            <div class="page-item-div main-text" title="${nls.back}" label="${nls.back}">${nls.back}</div>
          </td>
          <!--HOME-->
          <td nowrap align="center" class="page-item-td-center" data-dojo-attach-point="homeTd" data-dojo-attach-event="onclick:_homeView">
            <div>
              <div class="bg-home bg-home-img" data-dojo-attach-point="homeImage">
              </div>
            </div>
            <div class="page-item-div"></div>
          </td>
          <!--NEXT-->
          <td nowrap class="page-item-td-right" data-dojo-attach-point="nextTd" data-dojo-attach-event="onclick:_nextView">
            <div class="float-right bg-img bg-next-img margin-left-5" data-dojo-attach-point="nextImage"></div>
            <div class="page-item-div main-text" title="${nls.next}" label="${nls.next}">${nls.next}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container-node" data-dojo-attach-point="containerNode"></div>
  <div class="tab-shelter" data-dojo-attach-point="shelter"></div>
</div>