<div class="pad-left-10">
  <table class="page-table" cellpading="0">
    <tbody>
      <tr class="task-instruction-row" >
        <td colspan="3">
          <div class="instruction">${nls.mapping.locationMappingHint}</div>
        </td>
      </tr>
      <tr class="bottom-border task-row" data-dojo-attach-event="onClick:_locationMappingClick">
        <td class="field-control-td">
          <div class="task-text">${nls.mapping.locationMapping}</div>
        </td>
        <td class="width-15">
          <div class="display-none done-mark" data-dojo-attach-point="locationMappingComplete">
          </div>
        </td>
        <td class="width-15">
          <div class="next-arrow float-right next-arrow-img">
          </div>
        </td>
      </tr>

      <tr class="pad-top-10 task-instruction-row">
        <td colspan="3">
          <div class="instruction pad-top-10">${nls.mapping.schemaMappingHint}</div>
        </td>
      </tr>
      <tr class="bottom-border task-row" data-dojo-attach-event="onClick:_schemaMappingClick">
        <td class="field-control-td">
          <div class="task-text">${nls.mapping.schemaMapping}</div>
        </td>
        <td class="width-15">
          <div class="display-none done-mark" data-dojo-attach-point="fieldMappingComplete">
          </div>
        </td>
        <td class="width-15">
          <div class="next-arrow float-right next-arrow-img"></div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pad-top-10">
    <div class="jimu-btn float-right display-none" data-dojo-attach-point="addToMapButton" data-dojo-attach-event="onClick:_addToMapClick">${nls.buttons.addToMap}</div>
    <div class="float-right bg-loading-img bg-loading pad-top-10 display-none" data-dojo-attach-point="progressNode"></div>
  </div>
</div>