<div class="${baseClass}">
  <span class="btn-group pull-right">
    <span class="icon-button" role="button"
      data-dojo-attach-point="btnPreview"
      ><i class="esri-icon-globe"></i></span>
    <span class="icon-button" role="button"
      data-dojo-attach-point="btnInfo"
      ><i class="esri-icon-description"></i></span>
  </span>
  <label>
    <input type="checkbox" name="wro-selected-layers"
      data-dojo-type="dijit/form/CheckBox"
      data-dojo-attach-point="chkModelLayer"/>
      <span data-dojo-attach-point="txtLabel"></span>
  </label>
</div>
