.jimu-widget-analysis {
    width: 100%;
    height: 100%;
}

.jimu-widget-analysis .btn32:hover {
    background-color: #262626;
}

.jimu-widget-analysis .analysis-tab {
    overflow-y: auto;
}

.jimu-widget-analysis .btn32 {
    display: block;
    float: left;
    width: 88px;
    height: 32px;
    border-radius: 2px;
    padding: 0;
    margin: 10px 5px 0px 0px;
    line-height: 33px;
    color: #ffffff;
    background-color: #2a8aff;
    cursor: pointer;
}

.jimu-widget-analysis .btn-ana {
    float: left;
    display: block;
    width: 50px;
    height: 32px;
    padding: 0;
    margin: 10px 5px 0px 0px;
    border-radius: 2px;
    line-height: 33px;
    color: #ffffff;
    background-color: #2a8aff;
    cursor: pointer;
}

.jimu-widget-analysis .btn-ana-clear {
    position: absolute;
    margin: 2px 0px 0px 12px;
}

.jimu-widget-analysis .result-table {
    position: relative;
    height: 300px;
}

.jimu-widget-analysis .btn-img {
    margin: 8px 0px 0px 8px;
}

.jimu-widget-analysis .btn-font {
    position: absolute;
    margin: 2px 0px 0px 2px;
}

.jimu-widget-analysis .result-tab {
    width: 100%;
}

.jimu-widget-analysis .remove-btn {
    margin-bottom: 10px;
}

.jimu-widget-analysis .about-container {
    width: 300px;
    height: 50px;
}