.jimu-widget-critical-facilities .disabled{
  cursor: default;
  background-color: #a0acbf;
}

.jimu-widget-critical-facilities-ui .credit-warning{
  color: #86909c;
  margin-bottom: 10px;
}

.jimu-widget-critical-facilities-ui .credit-warning-container{
  margin-top: 20px;
  margin-bottom: 10px;
  position: absolute; 
  bottom: 0px;
}

.jimu-widget-critical-facilities .processing {
  background-image: url('images/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  height: 22px;
  width: 100%;
}

.jimu-widget-critical-facilities-ui .bottom-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.jimu-widget-critical-facilities-ui .width-all {
  width: 100%;
}

.jimu-widget-critical-facilities-ui .table-layout {
  table-layout: fixed;
}

.jimu-widget-critical-facilities-ui .feature-toolbar-btn {
  padding: 10px;
  display: block;
}

.jimu-widget-critical-facilities-ui .feature-toolbar-row {
  line-height: 25px;
}

.jimu-widget-critical-facilities-ui .duplicate-col-headers {
  overflow: hidden;
  width: 100%;
  white-space: normal !important;
  line-height: 1.5;
  text-align: center;
}

/*new container*/
.jimu-widget-critical-facilities-ui .page-item-td {
  cursor: pointer;
  min-width: 0;
  white-space: nowrap;
}

.jimu-widget-critical-facilities-ui .float-left {
  float: left;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .float-left {
  float: right;
}

.jimu-widget-critical-facilities-ui .float-right {
  float: right;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .float-right {
  float: left;
}

.jimu-widget-critical-facilities-ui .text-left {
  text-align: left;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .text-left {
  text-align: right;
}

.jimu-widget-critical-facilities-ui .field-row-width {
  word-break: break-word;
}

.jimu-widget-critical-facilities-ui .field-row-width2 {
  word-break: break-word;
}

/*home*/
.jimu-widget-critical-facilities-ui .bg-home-img {
  background-image: url('../images/home_black.png');
}

.jimu-widget-critical-facilities-ui .page-item-td-center:hover .bg-home-img {
  background-image: url('../images/home_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-home-img-white {
  background-image: url('../images/home_white.png');
}

.jimu-widget-critical-facilities-ui .page-item-td-center:hover .bg-home-img-white {
  background-image: url('../images/home_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-home {
  width: 20px;
  height: 20px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: auto;
}

.jimu-widget-critical-facilities-ui .bg-img {
  width: 12px;
  height: 20px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
/*end home*/

/*------------------------------Review Row toggle buttons--------------------------------------------*/
.jimu-widget-critical-facilities-ui .toggle-expand-row {
  cursor: pointer;
}

.jimu-widget-critical-facilities-ui .bg-img-toggle {
  width: 16px;
  height: 12px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.jimu-widget-critical-facilities-ui .page-item-td-nav {
  cursor: pointer;
  min-width: 0;
  white-space: nowrap;
}

.jimu-widget-critical-facilities-ui .bg-toggle-down-img {
  background-image: url('../images/nav_down_black.png');
}

.jimu-widget-critical-facilities-ui .toggle-expand-row:hover .bg-toggle-down-img {
  background-image: url('../images/nav_down_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-toggle-down-img-white {
  background-image: url('../images/nav_down_white.png');
}

.jimu-widget-critical-facilities-ui .toggle-expand-row:hover .bg-toggle-down-img-white {
  background-image: url('../images/nav_down_hover.png');
}

/*sas*/

.jimu-widget-critical-facilities-ui .bg-toggle-up-img {
  background-image: url('../images/nav_up_black.png');
}

.jimu-widget-critical-facilities-ui .toggle-expand-row:hover .bg-toggle-up-img {
  background-image: url('../images/nav_up_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-toggle-up-img-white {
  background-image: url('../images/nav_up_white.png');
}

.jimu-widget-critical-facilities-ui .toggle-expand-row:hover .bg-toggle-up-img-white {
  background-image: url('../images/nav_up_hover.png');
}

/*------------------------------End Review Row toggle buttons--------------------------------------------*/

/*------------------------------Feature Toolbar----------------------------------------------*/
.jimu-widget-critical-facilities-ui .feature-toolbar-td {
  width: 80px;
}

.jimu-widget-critical-facilities-ui .duplicate-flag {
  padding-bottom: 9px;
  float: left;
  display: inline-table;
}

.jimu-widget-critical-facilities-ui .bg-ft-img {
  width: 15px;
  height: 15px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: auto;
}

/*edit*/
.jimu-widget-critical-facilities-ui .bg-edit {
  background-image: url('../images/edit_black.png');
}

.jimu-widget-critical-facilities-ui .bg-edit:hover {
  background-image: url('../images/edit_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-edit-white {
  background-image: url('../images/edit_white.png');
}

.jimu-widget-critical-facilities-ui .bg-edit-white:hover {
  background-image: url('../images/edit_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-edit-disabled {
  background-image: url('../images/edit_disabled.png');
  cursor: default;
}

.jimu-widget-critical-facilities-ui .bg-edit-disabled:hover {
  background-image: url('../images/edit_hover.png');
}
/*end edit*/

/*locate*/
.jimu-widget-critical-facilities-ui .bg-locate {
  background-image: url('../images/locate_black.png');
}

.jimu-widget-critical-facilities-ui .bg-locate:hover {
  background-image: url('../images/locate_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-locate-white {
  background-image: url('../images/locate_white.png');
}

.jimu-widget-critical-facilities-ui .bg-locate-white:hover {
  background-image: url('../images/locate_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-locate-disabled {
  background-image: url('../images/locate_disabled.png');
  cursor: default;
}
/*end locate*/

/*save*/
.jimu-widget-critical-facilities-ui .bg-save {
  background-image: url('../images/save_black.png');
}

.jimu-widget-critical-facilities-ui .bg-save:hover {
  background-image: url('../images/save_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-save-white {
  background-image: url('../images/save_white.png');
}

.jimu-widget-critical-facilities-ui .bg-save-white:hover {
  background-image: url('../images/save_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-save-disabled {
  background-image: url('../images/save_disabled.png');
  cursor: default;
}
/*end save*/

/*sync*/
.jimu-widget-critical-facilities-ui .bg-sync {
  background-image: url('../images/sync_black.png');
}

.jimu-widget-critical-facilities-ui .bg-sync:hover {
  background-image: url('../images/sync_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-sync-white {
  background-image: url('../images/sync_white.png');
}

.jimu-widget-critical-facilities-ui .bg-sync-white:hover {
  background-image: url('../images/sync_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-sync-disabled {
  background-image: url('../images/sync_disabled.png');
  cursor: default;
}
/*end sync*/

/*cancel*/
.jimu-widget-critical-facilities-ui .bg-cancel {
  background-image: url('../images/cancel_black.png');
}

.jimu-widget-critical-facilities-ui .bg-cancel:hover {
  background-image: url('../images/cancel_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-cancel-white {
  background-image: url('../images/cancel_white.png');
}

.jimu-widget-critical-facilities-ui .bg-cancel-white:hover {
  background-image: url('../images/cancel_hover.png');
}

.jimu-widget-critical-facilities-ui .bg-cancel-disabled {
  background-image: url('../images/cancel_disabled.png');
  cursor: default;
}
/*end cancel*/

/*-----------------------------------------------------------------------------*/

/*--------------------------------------Start Feature List Page---------------------------------------*/
.jimu-widget-critical-facilities-ui .feature-list-row {

}

.jimu-widget-critical-facilities-ui .feature-list-row:hover {
  cursor:pointer;
}

.jimu-widget-critical-facilities-ui .feature-list-row:hover .next-arrow-img {
  background-image: url('../images/nav_right_hover.png');
  cursor: pointer;
}
/*--------------------------------------End Feature List Page---------------------------------------*/

/*back*/
.jimu-widget-critical-facilities-ui .page-item-td-left {
  cursor: pointer;
  min-width: 0;
  white-space: nowrap;
  text-align: left;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .page-item-td-left {
  cursor: pointer;
  min-width: 0;
  white-space: nowrap;
  text-align: right;
}

.jimu-widget-critical-facilities-ui .bg-back-img {
  background-image: url('../images/nav_left_black.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .bg-back-img {
  background-image: url('../images/nav_right_black.png');
}

.jimu-widget-critical-facilities-ui .bg-back-img-white {
  background-image: url('../images/nav_left_white.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .bg-back-img-white {
  background-image: url('../images/nav_right_white.png');
}

.jimu-widget-critical-facilities-ui .page-item-td-left:hover .bg-back-img {
  background-image: url('../images/nav_left_hover.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .page-item-td-left:hover .bg-back-img {
  background-image: url('../images/nav_right_hover.png');
}

.jimu-widget-critical-facilities-ui .page-item-td-left:hover .bg-back-img-white {
  background-image: url('../images/nav_left_hover.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .page-item-td-left:hover .bg-back-img-white {
  background-image: url('../images/nav_right_hover.png');
}
/*end back*/

/*next*/
.jimu-widget-critical-facilities-ui .page-item-td-right {
  cursor: pointer;
  min-width: 0;
  white-space: nowrap;
  text-align: right;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .page-item-td-right {
  cursor: pointer;
  min-width: 0;
  white-space: nowrap;
  text-align: left;
}

.jimu-widget-critical-facilities-ui .bg-next-img {
  background-image: url('../images/nav_right_black.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .bg-next-img {
  background-image: url('../images/nav_left_black.png');
}

.jimu-widget-critical-facilities-ui .bg-next-img-white {
  background-image: url('../images/nav_right_white.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .bg-next-img-white {
  background-image: url('../images/nav_left_white.png');
}

.jimu-widget-critical-facilities-ui .page-item-td-right:hover .bg-next-img {
  background-image: url('../images/nav_right_hover.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .page-item-td-right:hover .bg-next-img {
  background-image: url('../images/nav_left_hover.png');
}

.jimu-widget-critical-facilities-ui .page-item-td-right:hover .bg-next-img-white {
  background-image: url('../images/nav_right_hover.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .page-item-td-right:hover .bg-next-img-white {
  background-image: url('../images/nav_left_hover.png');
}
/*end next*/

.jimu-widget-critical-facilities-ui .jimu-tab3 .page-item-td.jimu-state-active {
  color: #48494B;
}

.jimu-widget-critical-facilities-ui .control-node {
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.jimu-widget-critical-facilities-ui .container-node {
  padding-top: 10px;
}

.jimu-widget-critical-facilities-ui .control-disbaled {
  opacity: .3;
  cursor: default;
}

.jimu-widget-critical-facilities-ui .min-width-200 {
  min-width: 200px;
}

.jimu-widget-critical-facilities-ui .main-text {
  font-weight: bold;
  display: inline-block;
  /*white-space: nowrap;*/ /*removed for #971*/
}

.jimu-widget-critical-facilities-ui .instruction {
  color: #898989;
  font-size: 11px;
}

.jimu-widget-critical-facilities-ui .pad-10 {
  padding: 10px;
}

.jimu-widget-critical-facilities-ui .pad-top-10 {
  padding-top: 10px;
}

.jimu-widget-critical-facilities-ui .pad-bottom-10 {
  padding-bottom: 10px;
}

.jimu-widget-critical-facilities-ui .pad-left-10 {
  padding-left: 10px;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .pad-left-10 {
  padding-right: 10px;
}

.jimu-widget-critical-facilities-ui .pad-left-20 {
  padding-left: 20px;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .pad-left-20 {
  padding-right: 20px;
}

.jimu-widget-critical-facilities-ui .pad-left-30 {
  padding-left: 30px;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .pad-left-30 {
  padding-right: 30px;
}

.jimu-widget-critical-facilities-ui .pad-right-10 {
  padding-right: 10px;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .pad-right-10 {
  padding-left: 10px;
}

.jimu-widget-critical-facilities-ui .pad-right-15 {
  padding-right: 15px !important;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .pad-right-15 {
  padding-left: 15px !important;
}

.jimu-widget-critical-facilities-ui .margin-right-5 {
  margin-right: 5px;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .margin-right-5 {
  margin-left: 5px;
}

.jimu-widget-critical-facilities-ui .margin-left-5 {
  margin-left: 5px;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .margin-left-5 {
  margin-right: 5px;
}

.jimu-widget-critical-facilities-ui .margin-right-15 {
  margin-right: 15px;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .margin-right-15 {
  margin-left: 15px;
}

.jimu-widget-critical-facilities-ui .field-control {
  min-width: 150px;
  width: 100%;
  float: right;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .field-control {
  min-width: 150px;
  width: 100%;
  float: left;
}

.jimu-widget-critical-facilities-ui .field-control-td {
  padding: 10px 0px 10px 10px;
  /*word-break: break-word;*/
}

.jimu-rtl .jimu-widget-critical-facilities-ui .field-control-td {
  padding: 10px 10px 10px 0px;
  /*word-break: break-word;*/
}

.jimu-widget-critical-facilities-ui .sub-field-control-td {
  padding: 0px 0px 10px 10px;
  /*word-break: break-word;*/
}

.jimu-rtl .jimu-widget-critical-facilities-ui .sub-field-control-td {
  padding: 0px 10px 10px 0px;
  /*word-break: break-word;*/
}

.jimu-widget-critical-facilities-ui .min-width-80 {
  min-width: 80px;
}

.jimu-widget-critical-facilities-ui .task-text {
  float: left;
  padding-left: 5px;
  font-weight: bold;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .task-text {
  float: right;
  padding-right: 5px;
  font-weight: bold;
}

.jimu-widget-critical-facilities-ui .task-row {
  /*line-height: 33px;*/
  cursor: pointer;
}

.jimu-widget-critical-facilities-ui .dijitSelectLabel {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*next arrow*/
.jimu-widget-critical-facilities-ui .next-arrow {
  /*background-image: url('../images/nav_right_black.png');*/
  width: 15px;
  height: 16px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.jimu-widget-critical-facilities-ui .next-arrow-img {
  background-image: url('../images/nav_right_black.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .next-arrow-img {
  background-image: url('../images/nav_left_black.png');
}

.jimu-widget-critical-facilities-ui .next-arrow-img-white {
  background-image: url('../images/nav_right_white.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .next-arrow-img-white {
  background-image: url('../images/nav_left_white.png');
}

.jimu-widget-critical-facilities-ui .task-row:hover .next-arrow-img {
  background-image: url('../images/nav_right_hover.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .task-row:hover .next-arrow-img {
  background-image: url('../images/nav_left_hover.png');
}

.jimu-widget-critical-facilities-ui .task-row:hover .next-arrow-img-white {
  background-image: url('../images/nav_right_hover.png');
}

.jimu-rtl .jimu-widget-critical-facilities-ui .task-row:hover .next-arrow-img-white {
  background-image: url('../images/nav_left_hover.png');
}
/*end next arrow*/

.jimu-widget-critical-facilities-ui .sub-task-hint {
  text-align: left;
  margin: auto;
  line-height: 20px;
  color: #898989;
  font-size: 11px;
}

.jimu-widget-critical-facilities-ui .task-instruction-row {
  text-align: left;
  margin: auto;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .task-instruction-row {
  text-align: right;
  margin: auto;
}

.jimu-widget-critical-facilities-ui .page-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  /*text-align: center;*/
  /*margin-top: 1px;*/
}

.jimu-widget-critical-facilities-ui .width-15 {
  width: 15px;
}

.jimu-widget-critical-facilities-ui .display-none {
  display: none;
}

.jimu-widget-critical-facilities-ui .display-table-row-group {
  display: table-row-group;
}

.jimu-widget-critical-facilities-ui .no-padding {
  padding: 0px;
}

.jimu-widget-critical-facilities-ui .pad-bottom-10 {
  padding: 0px 0px 10px 0px;
}
/*nav dijit*/
.jimu-widget-critical-facilities-ui .cf-page-container {
  position: relative;
  width: 100%;
}
/*end nav dijit*/

/******************************************home page********************************/
.jimu-widget-critical-facilities-ui .cf-home .disabled {
  cursor: default;
  background-color: #a0acbf;
}

.jimu-widget-critical-facilities-ui .cf-home .upload-tab-node {
  margin-top: 20px;
}

.jimu-widget-critical-facilities-ui .cf-home .schema-map-instructions {
  text-align: center;
}

.jimu-widget-critical-facilities-ui .cf-home .drop-or-browse {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  color: #898989;
  line-height: 20px;
  position: relative;
}

.jimu-widget-critical-facilities-ui .cf-home .drop-or-browse:before,
.jimu-widget-critical-facilities-ui .cf-home .drop-or-browse:after {
  content: "";
  display: block;
  height: 1px;
  width: 45%;
  background: #eee;
  position: absolute;
  top: 9px;
  left: 0;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .cf-home .drop-or-browse:before,
.jimu-rtl .jimu-widget-critical-facilities-ui .cf-home .drop-or-browse:after {
  content: "";
  display: block;
  height: 1px;
  width: 45%;
  background: #eee;
  position: absolute;
  top: 9px;
  right: 0;
}

.jimu-widget-critical-facilities-ui .cf-home .drop-or-browse:after {
  right: 0;
  left: auto;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .cf-home .drop-or-browse:after {
  right: auto;
  left: 0;
}

.jimu-widget-critical-facilities-ui .cf-home .drop-or-browse b {
  display: inline-block;
  padding-right: 5px;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .cf-home .drop-or-browse b {
  display: inline-block;
  padding-left: 5px;
}

.jimu-widget-critical-facilities-ui .cf-home .file-form {
  display: inline-block;
}

.jimu-widget-critical-facilities-ui .cf-home .file-form label {
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px;
  margin-right: 5px;
  min-width: 180px;
  line-height: 20px;
  white-space: normal;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .cf-home .file-form label {
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px;
  margin-left: 5px;
  min-width: 180px;
  line-height: 20px;
  white-space: normal;
}

.DartTheme .jimu-widget-critical-facilities-ui .cf-home .file-form label {
  color: #15a4fa !important;
}

.jimu-widget-critical-facilities-ui .cf-home .upload-input {
  display: none;
}

.jimu-widget-critical-facilities-ui .cf-home .warning-instruction {
  color: firebrick;
  display: none;
}

.jimu-widget-critical-facilities-ui .cf-home .usage-instruction {
  font-size: 14px;
  font-weight: bold;
}

.jimu-widget-critical-facilities-ui .cf-home .startpage-hint {
  padding-top: 10px;
  padding-bottom: 10px;
}

.jimu-widget-critical-facilities-ui .cf-home .bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.jimu-popup .cf-warning-icon {
  width: 30px;
  height: 30px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
  background-image: url('../images/warning.png');
}
  
/***************************end home page*************************************/
  

/*----------------------- Styles for search -------------------------*/
  
.jimu-widget-critical-facilities-ui .cf-home .address-search {
  display: inline-block;
}

.jimu-widget-critical-facilities-ui .esriCTSearchOuterContainer {
  padding: 0px 0px 15px 0px;
  clear: both;
}

.jimu-widget-critical-facilities-ui .esriCTSearchDiv {
  float: left;
  clear: both;
  margin-right: 10px;
}

.jimu-widget-critical-facilities-ui .esriCTSearchHeader {
  margin-bottom: 10px;
}

.jimu-widget-critical-facilities-ui .esriCTSearchDiv .arcgisSearch {
  float: left;
  width: 100% !important;
  /*added to fix issue in Dart theme*/
}

.jimu-widget-critical-facilities-ui .esriCTSearchContainer {
  width: 100%;
  height: 35px;
}

.jimu-widget-critical-facilities-ui .arcgisSearch .searchGroup .searchInput {
  width: 170px;
  padding: 6px 24px 6px 12px !important;
}

.esriRtl .jimu-widget-critical-facilities-ui .arcgisSearch .searchGroup .searchInput {
  padding: 6px 12px 6px 24px !important;
}

.jimu-widget-critical-facilities-ui .arcgisSearch .searchBtn {
  padding: 6px;
}

.jimu-widget-critical-facilities-ui .jimu-widget-search .arcgisSearch .searchGroup .searchInputGroup .searchInput {
  width: auto;
}

.jimu-widget-critical-facilities-ui .esriCTSearchContainer .searchClear {
  top: 2px !important;
  /* In Launchpad, when using the Placename search,to prevent the X to clear the search entry overwrites the search box */
}


/*-------------------- End of styles for search panel ---------------------*/

/*end home page*/

/*start page*/

.jimu-widget-critical-facilities-ui .done-mark {
  background-image: url('../images/check.png');
  width: 15px;
  height: 16px;
  position: relative;
  background-size: contain;
  float: right;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.jimu-rtl .jimu-widget-critical-facilities-ui .done-mark {
  background-image: url('../images/check.png');
  width: 15px;
  height: 16px;
  position: relative;
  background-size: contain;
  float: left;
  margin-left: 10px;
  background-repeat: no-repeat;
}

/*.jimu-widget-critical-facilities-ui .bg-loading {
  background-image: url('../css/images/wait.gif');
}

.jimu-widget-critical-facilities-ui .bg-loading-img {
  width: 50px;
  height: 50px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: auto;
}*/

.jimu-widget-critical-facilities-ui .bg-loading {
  background-image: url('../css/images/loading.gif');
}

.jimu-widget-critical-facilities-ui .bg-loading-img {
  width: 75px;
  height: 15px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: auto;
}

/*end start page*/