.jimu-widget-sefilterEditor {
}

.jimu-widget-sefilterEditor .flDropDown {
    height: 30px!important;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
}

.jimu-widget-sefilterEditor .searchtextbox {
    height: 30px!important;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
   
}
